

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="map_canvas"></div>

<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li><%= user["fullName"] %>, <%= user["location"] %></li>
  <% end %>
</ul>

<p><button onClick="loadUsers()">Load User Placemarks</button></p>

<%= link_to 'Users als JSON', root_path(:format => :json) %> <br/>
<%= link_to 'Users als XML', root_path(:format => :xml) %>
