

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="map_canvas"></div>

<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li><%= user[:name] %>, <%= user[:location] %></li>
  <% end %>
</ul>