<div class="content">
  <div class="page-header">
    <h1>Gruppe 2 <small>Technologien des Web 2.0 - Anwendungsentwicklung</small></h1>
  </div>
  
  <div class="row">
    <div class="span10">
      <h2>Google Maps + Ning</h2>
      <div id="map_canvas"></div>

      <p><button onClick="loadUsers()">Ning Benutzer anzeigen</button></p>
		<pre id="maps_logging"></pre>
    </div>
    <div class="span6">
      <h2>Flickr</h2>
      <div id="flickR-container"></div>
    </div>
  </div>
</div>

