/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require flickr
*/
* {
	margin:0;
	padding:0;
}
body {
	padding:10px;
}

#container {
	width:990px;
	margin-left:auto;
	margin-right:auto;
	background-color:#eee;
}

#map_canvas {
	float:left;
	margin: 0;
	padding: 0;
	height: 442px;
	width: 650px;
/*	width: 100%;*/
}
#flickR-container {
	float:right;
}