
#flickR-container {
	width:330px;
	height:440px;
	padding:1px;
}

#flickR-container ul, #flickR-container li {
	padding:0;
	margin:0;
}


.flickR-loading {
	background:url( '/images/activity_indicator_bg999.gif' ) no-repeat center center;
}

.flickR-thumb-container {
	float:left;
	display:block;
	margin:2px;
	padding:0px;
	width:100px;
	height:100px;
	overflow:hidden;
	text-align:center;
	outline:1px solid #ccc;
}  
