<!DOCTYPE html>
<html>
<head>
  <title>SeminarDemo</title>

<script type="text/javascript"        src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;key=ABQIAAAA9OTeAX6_UoHU9_-aOrjdmRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTC-YH0m1nifZBG9usGu06_mU3fbw"></script>


  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

</body>
</html>
