<!DOCTYPE html>
<html>
<head>
  <title>SeminarDemo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!--  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAA9OTeAX6_UoHU9_-aOrjdmRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTC-YH0m1nifZBG9usGu06_mU3fbw" type="text/javascript"></script>-->


<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
      var map;
      function initialize() {
        var myOptions = {
          zoom: 8,
          center: new google.maps.LatLng(-34.397, 150.644),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
            myOptions);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>
<body>

<%= yield %>

</body>
</html>
